$black: #000;
$white: #fff;

$shade-10: #f5f5f5;
$shade-20: #e6e6e6;
$shade-30: #d9d5d2;
$shade-40: #999999;
$shade-50: #55565a;
$shade-70: #2d2c2c;

$green-1: #009933;
$green-2: #5f7800;
$green-3: #009b7b;
$green-4: #aab400;
$green-5: #79f333;

$blue-1: #00558c;
$blue-2: #00a0be;
$blue-3: #82c9dc;
$blue-4: #000066;

$orange-1: #eb8200;
$orange-2: #ffb400;

$a-green-1: #aab400;
$a-green-2: #bfc733;
$a-green-3: #ccd15c;
$a-green-4: #d6d97d;
$a-green-5: #dee096;
$a-green-6: #7f9333;
$a-green-7: #9fae66;
$a-green-8: #bfc999;
$a-green-9: #dfe4cc;

$a-blue-1: #00a0be;
$a-blue-2: #40bad4;
$a-blue-3: #66c9de;
$a-blue-4: #85d4e3;
$a-blue-5: #9edee8;
$a-blue-6: #82c8dc;
$a-blue-7: #a6dbed;
$a-blue-8: #b8e3f2;
$a-blue-9: #c4e8f5;
$a-blue-10: #d1edf5;

$a-orange-1: #eb8200;
$a-orange-2: #ffa333;
$a-orange-3: #ffb55c;
$a-orange-4: #ffc47d;
$a-orange-5: #ffd196;
$a-orange-6: #ffb400;
$a-orange-7: #ffd440;
$a-orange-8: #ffd166;
$a-orange-9: #ffd985;
$a-orange-10: #ffe09e;
