body{
  font-family: $font-sans;
}

h1{
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 1rem;
  @media (max-width: $screen-sm-max){

  }
}

h2{
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 1rem;
  @media (max-width: $screen-sm-max){

  }
}

h3{
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  @media (max-width: $screen-sm-max){

  }
}

h4{
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  @media (max-width: $screen-sm-max){

  }
}

h5{
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  @media (max-width: $screen-sm-max){

  }
}

h6{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  @media (max-width: $screen-sm-max){

  }
}

p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  @media (max-width: $screen-sm-max){

  }
}

a{
  color: $blue-4;
  text-decoration: underline;
  @include transition;
  &:hover{
    color: $black;
  }
}

// ol, ul{
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 30px;
//   @media (max-width: $screen-sm-max){
//
//   }
// }
